/*
 * @Author: roc_zhou
 * @Date:   2019-04-25 14:42:29
 * @Last Modified by:   zhouhaipeng
 * @Last Modified time: 2019-06-22 17:47:01
 */

* {
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  white-space: normal;
  margin: 0;
  padding: 0;
}
*[class~="no-select"]:not(input):not(textarea) {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}
html,
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}
audio:not([controls]) {
  display: none;
  height: 0
}

[hidden], template {
  display: none
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,
strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

mark {
  background: #ff0;
  color: #000
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}
.clear-both::after {
  content: "clear.both";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-both + * {
  clear: both;
}
.disabled {
  /*禁止點擊*/
  cursor: default;
  pointer-events: none;
  opacity: .75;
}
.flex-box, .flex-auto, .flex-wrap, .flex-column, [class*="items-"], [class*="justify-"], [class*="align-"] {
  display: flex;
  display: -webkit-flex;
}
.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-auto > * {
  -webkit-flex: 1;
  flex: 1;
}
.items-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.items-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.items-center {
  -webkit-align-items: center;
  align-items: center;
}

.items-baseline {
  -webkit-align-items: baseline;
  align-items: baseline;
}

.items-strecth {
  -webkit-align-items: strecth;
  align-items: strecth;
}

.justify-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.justify-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.justify-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.align-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.align-center {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.align-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.align-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.relative-box {
  position: relative;
}

.absolute-box {
  position: absolute;
}

.fixed-box {
  position: fixed;
}

/*鼠标状态*/

.cursor-pointer {
  /*连接*/
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.cursor-grabbing {
  cursor: grabbing; /*手抓型*/
}

.cursor-none {
  /*禁止*/
  cursor: not-allowed;
  pointer-events: none;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.cursor-crosshair {
  /*十字架*/
  cursor: crosshair
}

.cursor-move {
  /*移动*/
  cursor: move
}

.cursor-resize {
  /*改变大小*/
  cursor: e-resize
}

.cursor-text {
  /*文字编辑*/
  cursor: text
}

.cursor-wait {
  /*等待*/
  cursor: wait
}

.cursor-help {
  /*帮助*/
  cursor: help
}